* {box-sizing: border-box;}
.railway {
  max-width: 350px;
  margin: 50px auto 0;
  padding: 20px;
  background: #FFFFFF ;
  font-family: 'Oswald', sans-serif;
  border-radius: 5px
}

.form-group {
  margin-bottom: 20px;
  padding: 10px;
  
}
.form-group input, 
.form-group label, 
.form-group textarea {
  display: block;
  width: 100%;
}

.form-group input {
  padding: 10;
  line-height: 30px;
  background: #F5F5F5;
  border-width: 0;
  border-radius: 5px
}
.form-group label {
  margin-bottom: 5px;
  color:  #C0C0C0; 
  text-transform: uppercase;
  font-size: 12px;
}
.submit-button {

}
.submit-button input {
  background: #6495ED;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px
  }